<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/16853b84-8c91-47b8-a189-861c73257874/resourcegroups/arm.dev.sec.amesto/providers/Microsoft.Web/sites/armlivecpb2c-app-energy</ResourceId>
    <ResourceGroup>arm.dev.sec.amesto</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://armlivecpb2c-app-energy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>8dcfeec2-0a85-4c7e-b96a-21c9184470b1</ProjectGuid>
    <PublishUrl>https://armlivecpb2c-app-energy.scm.azurewebsites.net/</PublishUrl>
    <UserName>$armlivecpb2c-app-energy</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>